html {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Short Stack', cursive;
	background-color: #7189bf;
}

.background {
	width: 900px;
	height: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	padding-bottom: 63px;
}


.title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #7189bf;
}

h1 {
	margin-top: 0px;
}

.instruction {
	margin: 20px;
}

#container {
	max-width: 500px;
	padding: 10px;
	display: table;
	background: #7189bf;
	margin-top: 5px;
	border-radius: 5%;
	margin: 0 auto;
}

.row {
	display: flex;
	
}

.square {
	width: 90px;
	height: 90px;
	background: #edd5cd;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10%;
	margin: 0.5%;
	font-size: 60px;
}

/*@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

span {
	font-size: 30px;
	font-family: "Helvetica";
	font-weight: bold;
	color: #db6a68;
	animation-duration: 3s;
	animation-name: fade;
}
*/
button {
	
	border-radius: 10px;
	border: none;
	background-color: white;
	font-size: 28px;
	font-weight: bold;
	color: #db6a68;
	transition: all 0.4s;
	outline-style: none;
}

#reset {
	margin-left: 240px;
}

#reset:hover {
	background-color: #db6a68;
	color: white;
}

#title {
	margin-left: 75px;
}

#score {
	background-color: #db6a68;
	color: white;
	width: 100px;
	text-align: center;
}
